body {
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/login.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    
}
img{
    width: 150px;
}


.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.logo img {
    width: 100px;
    height: auto;
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #007bff;
    transform: scale(1.1);
    border-radius: 5px;
}



#contenedor2 {

    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.363);
    margin: 150px auto;
    width: 100%;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 550px;
}

fieldset{
    border: none;
    margin: 0;
}


h2{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
.formulario p{
    color: white;
    font-family: "Roboto Slab";
    font-size: 20px;
    padding: 10px;
    margin: 10px 10px;
    font-weight: bold;
    
}
h5{
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.logo h1 {
    color: #ffffff;
}


.olvidado {
    color: white ;
    text-decoration: none;
     font-weight: bold;
    margin-left: 15px;
}


.registrate{
    text-align: center;
 
}
.registrate a{
    color: rgb(11, 117, 255);
    text-decoration: none;
    
}


.bloquehorizontal {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.tamañobarras{

    width: 0;
    justify-content: center;
    transition: transform 0.3s ease;
}



.tamañobarras input {
    border: none;
    width: 400PX;
    padding: 18px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    outline: none;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    
    
}

.tamañobarras:hover{
    transform: scale(1.03); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}


.tamañoboton{
    margin-top: 30px;
    text-align: center;
    width: 0;
    transition: transform 0.3s, box-shadow 0.3s; 

}



.tamañoboton button {
    border: none;
    padding: 10px 170px;
    margin-left: 10px;
    font-size: 15px;
    background-color: #1d79d4;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;
    width: 450px;
}
.tamañoboton:hover{
    background-color: #0056b3;
    transform: scale(1.03); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
}

.footer-container{
    display: flex;
    text-align: center;
    background-color: black;
    align-items: center ;
    
}


footer{
    color: white;
    font-size: 15px;
    text-align: center; 
    width: 100%;
}

